body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  top: 0;
  left: 0;
  width: 100%;
  background: #01529b;
  color: white;
  height: 72px;
  min-width: 570px;
}

@media (max-width: 480px) { 
  header {
    min-width: 400px;
    height: 100px;
  }
  nav a {
  padding: 0px 10px;
}
nav a:hover {
  color: #f6f6f6;
  text-decoration: underline;
}
 }

header ul {
  padding: 0;
  margin: 0;
  display: inline;
  list-style-type: none;
}

header h3 {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5em;
  margin: 20px;
  padding-left: 20px;
}

header li {
  display: inline;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5em;
  margin-left: 15px;
}

nav {
  display: flex;
  justify-content: flex-end;
  right: 50px;
  margin: 20px 15px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 25px 10px;
}

nav a:hover {
  color: #f6f6f6;
  background: #014582;
}

.container-fluid {
  background: #f6f6f6;
  width: 100%;
}
#welcome-section {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro {
  line-height: 100px;
}
.intro-text {
  display: inline-block;
  text-align: center;
}

.intro-img {
  display: inline-block;
}

.my-photo {
  height: 250px;
  margin-right: 10px;
}

h1 {
  text-align: center;
}

div.contact {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

img.contact {
  height: 40px;
  margin: 20px;
}