body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 480px) { 
  header {
    min-width: 400px;
    height: 64px;
  }
  nav {
    margin: 20px 8px;
  }
  nav a {
    padding: 0 8px;
  }
  header h3 {
    font-size: 3.7vmin;
    margin: 20px 10px;
  }
  header li {
    font-size: 3.5vmin;
  }
   .my-photo {
    height: 180px;
  }
    .projects {
    margin-bottom: 30px;
  }
  #welcome-section {
    height: 290px;
  }
 }

 @media only screen and (min-width: 480px) { 
  header {
    min-width: 570px;
    height: 72px;
  }
  nav {
    right: 50px;
    margin: 20px 15px;
  }
  nav a {
    padding: 0px 10px;
  }
  header h3 {
    font-size: 2.7vmax;
    padding-left: 20px;
    margin: 20px;
  }
  header li {
    font-size: 2.7vmax;
  }
  .my-photo {
    height: 250px;
  }
  .projects-row {
    margin-bottom: 30px;
  }
    #welcome-section {
    height: 395px;
  }
 }

 header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 0;
  left: 0;
  width: 100%;
  background: #770011;
  color: white;
}
p {
  font-size: 2.7vmin;
}

h1 {
  color: #770011;
  font-size: 3vmin;
  text-align: center;
}

header ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

header h3 {
  font-weight: bold;
  line-height: 1.5em;
}

header li {
  display: inline;
  font-weight: bold;
  line-height: 1.5em;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #f6f6f6;
  text-decoration: underline;
}

section {
  margin-bottom: 30px;
}

#welcome-section {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 30px 10px;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.intro-text {
  display: inline-block;
  text-align: center;
  max-width: 500px;
}

.intro-img {
  display: inline-block;
}

.my-photo {
  margin-right: 10px;
}

.projects a {
  color:black;
  font-weight: bold;
  text-decoration: none;
}

.projects a:hover {
  color:#770011;
}

.projects p {
  margin-bottom: 0;
}

img.project {
  height: 150px;
  width: 220px;
}

div.contact {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

img.contact {
  height: 40px;
  margin: 20px;
}